# Composer
/vendor/

# Env
.env
.env.local
.env.*.local

# IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db
._*

# Logs & temporary files
*.log
logs/
tmp/

# cache and tests
.phpunit.cache/
coverage/
build/

# PHAR
*.phar

# configs files
.php-cs-fixer.cache